.tooltip-text {
  visibility: hidden;
  background-color: #111;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  position: absolute;
  top: -35px;
  left: 30px;
  font-size: 13px;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 999;
}
